body {
    margin: 0 auto;
    color: #333;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#graph textarea {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3px;
    border: 1px solid #ccc;
}

.translation-list {
    max-width: 450px;
    height:calc(100vh - 10px);
    overflow-y: scroll;
}

#sentence-meaning input{
    padding-left: 25;
}

.list-group-item input{
    padding-left: 7;
}

svg {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 3px;
}

g.type-PRETERM > rect {
    fill: #00ffd0;
}

rect.btn {
    stroke: #fff;
    fill: #fff;
    fill-opacity: 0;
    stroke-opacity: 0;
}

.edgePath path {
    stroke: #333;
    stroke-width: 3px;
}

.selected rect {
    fill: lightblue !important;
}

div .selected{
    background-color: lightblue !important;
}

code {
    width: 100%;
    display: table;
}

code.log {
    background-color: #7cfc00;
}

code.warn {
    background-color: #ffff00;
}

code.error {
    background-color: #ff0000;
}

.fixed-content {
    border: 1px solid #ccc;
    height: 150px;
    resize: vertical;
    overflow: auto;
    background: #fff;
}

.nav-tabs>li>a {
   margin-right: 25px;
}