body {
    margin: 0 auto;
    padding: 0;
    color: #333;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*overflow-y: hidden;*/
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Navigation bar - space after title */
.nav-tabs>li>a {
   margin-right: 25px;
   border: 1px solid #ccc;
}

/* Region to display list of sentence meaning 
height is fixed and allowed the rest of content to be scrolled
*/
.translation-main-buttons, #sentence-meaning, #translation-comment{
    border: 1px solid #ccc;
}

#data-handle{
    max-height:100px;
    margin: 0px;
    padding: 0px;
    background-color: powderblue;
}

#file-input1, #file-input2, #file-input3{
    display: none;
}
.new-file, .import-file, .save-file {
    display: inline-block;
}

.sentence-no{
    font-size: 25px;
    font-weight: bold;
}

#data-handle>div{
    border-style: groove;
}

.translation-list {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    max-height:calc(100vh - 100px);
    overflow-y: auto;
}
.translation-list ul{
    margin: 0px;
    padding: 0px;
}

#translationButtons {
    display: none;
}


/*Space after the controls*/
#sentence-meaning input{
    padding-left: 1px;
}
.list-group-item input{
    margin-left: 7px;
}
div .selected{
    background-color: lightblue !important;
}

#translation-draw textarea {
    width:75%;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
}


/* -------------------- Graph drawing region -------------------- */
#graph {
     /*max-width: calc(100vw - 500px);
   max-height:calc(100vh - 200px);*/
    overflow-x: auto;
    overflow-y: auto;
}

#graph textarea {
    width:100%;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
}
svg {
    border: 1px solid #ccc;
    margin: 0 auto;
}
.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 3px;
}
rect.btn {
    stroke: #fff;
    fill: #fff;
    fill-opacity: 0;
    stroke-opacity: 0;
}
.edgePath path {
    stroke: #333;
    stroke-width: 3px;
}
.selected rect {
    fill: lightblue !important;
}