body {
    margin: 0 auto;
    color: #333;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

h1 {
    font-size: 3em;
    font-weight: 300;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
}

section {
    margin-bottom: 3em;
}

section p {
    text-align: justify;
}

svg {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

pre {
    border: 1px solid #ccc;
}

g.type-PRETERM > rect {
    fill: #00ffd0;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 3px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 3px;
}

.selected rect {
    fill: lightblue !important;
}

textarea {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3px;
    border: 1px solid #ccc;
}

rect.btn {
    stroke: #fff;
    fill: #fff;
    fill-opacity: 0;
    stroke-opacity: 0;
}

code {
    width: 100%;
    display: table;
}

code.log {
    background-color: #7cfc00;
}

code.warn {
    background-color: #ffff00;
}

code.error {
    background-color: #ff0000;
}

.fixed-content {
    border: 1px solid #ccc;
    height: 150px;
    resize: vertical;
    overflow: auto;
    background: #fff;
}